.sub-container {
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    max-width: 880px;
    max-height: 900px;
    display: flex;
}
.a1 {
    width: 100%;
    border: 1px solid black;
    max-width: 400px;
    height: 800px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 20px;
}

.a2{
    width: 100%;
    border: 1px solid black;
    max-width: 400px;
    height: 800px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 20px;
}
.ab {
    width: 100%;
    height: 100vh;
} 
.a5 img{
    width: 50px;
    height: 50px;
    margin-top: 25px;
    margin-left: -280px;
}
.b2 {
    margin-left: 80px;
    margin-top: -55px;
} 
.b3 {
    margin-left: 80px;
    margin-top: 5px;

}
.icon1 {
    margin-left: -20px;
    margin-top: 10px;
}
