.sub-container {
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    max-width: 1100px;
    max-height: 900px;
    display: flex;
}
.a1 {
    width: 100%;
    border: 1px solid black;
    max-width: 450px;
    height: 800px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 20px;
}

.a2{
    width: 100%;
    border: 1px solid black;
    max-width: 450px;
    height: 800px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 20px;
}
.ab {
    width: 100%;
    height: 100vh;
} 
.a5 img{
    width: 50px;
    height: 50px;
    margin-top: 25px;
    margin-left: -280px;
}
.b2 {
    margin-left: 80px;
    margin-top: -50px;
    font-size: 15px;
} 
.b3 {
    margin-left: 80px;
    margin-top: 5px;

}
.b4 {
    margin-left: 250px;
    margin-top: -40px;
} 
.b5 {
    margin-left: 340px;
    font-size: 30px;
    margin-top: -30px;
}
.b6 {
    margin-left: 30px;
    margin-top: 20px;
}
.b7 {
    margin-left: 250px;
    margin-top: -20px;
}

.b8 {
    width: 100%;
    width: 320px;
    height: 250px;
    border: 1px solid black;
    margin-left:20px ;
    margin-top: 30px;

}
.b9 {
    width: 100%;
    width: 80px;
    height: 250px;
    border: 1px solid black;
    margin-left: 370px;
    margin-top: -255px;
    
}
.b10 {
    width: 100%;
    height: 80px;
    border: 1px solid black;
}
.c1 {
    margin-top: 10px;
    margin-left: 10px;

}
.c2 {
    margin-top: 8px;
    margin-left: 10px;
    font-size: 15px;
}
/* .b10 {
    margin-left: 300px;
    color: orange;
    width: 100%;
    max-width: 50px;
    margin-top: -50px;
    font-size: 40px;
    border: 1px solid orange;
    border-radius: 80px;
    text-align: center;
    
}
 .b11{
    width: 100%;
    max-width: 10px;
    color: black;
} 
.c1 {
    margin-left: 30px;
    margin-top: 20px;
} */

